* { /* 重置默认样式 */
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
}
body{
	background-color: #fafce7;
}
a{
	text-decoration: none;
	text-transform: none;
}
.wrapper {
    position: relative;
    height: 700px;
    width: 700px;
    padding: 20px;
    margin: 0 auto;
	margin-top: 350px;
    background-color: #ff5555;
    box-shadow: #000000 0 0 10px;
    border-radius: 50%;
}
.light {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 30px;
    left: 365px;
    transform-origin: 5px 340px;
}
.tp{
	width: 550px;
	height: 550px;
	background-image: url("../img/index2.png");
	background-size: 720px 720px;
	background-repeat: no-repeat;
	background-position: -85px;
	border-radius: 100%;
	overflow: hidden;
	margin-left: 75px;
	margin-top: 70px;
}
.light-twinkling {
    animation: 1s twinkling 3, 100ms 3s twinkling 3;
}
.light:nth-child(2n) {
    background-color: #fafce7;
}
.light:nth-child(2n+1) {
    background-color: #ffe58b;
}
.light:nth-child(2) {
    transform: rotate(36deg);
}
.light:nth-child(3) {
    transform: rotate(72deg);
}
.light:nth-child(4) {
    transform: rotate(108deg);
}
.light:nth-child(5) {
    transform: rotate(144deg);
}
.light:nth-child(6) {
    transform: rotate(180deg);
}
.light:nth-child(7) {
    transform: rotate(216deg);
}
.light:nth-child(8) {
    transform: rotate(252deg);
}
.light:nth-child(9) {
    transform: rotate(288deg);
}
.light:nth-child(10) {
    transform: rotate(324deg);
}
.panel {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #b7b7b7;
    border-radius: 100px;
}
.sector {
    position: absolute;
    left: 100px;
    top: 0px;
    width: 100px;
    height: 200px;
    font-size: 14px;
    border-radius: 0px 100px 100px 0;
    overflow: hidden;
    transform-origin: left center;
}
.sector:nth-child(1) {
    transform: rotate(-18deg);
}
.sector:nth-child(2) {
    transform: rotate(18deg);
}
.sector:nth-child(3) {
    transform: rotate(54deg);
}
.sector:nth-child(4) {
    transform: rotate(90deg);
}
.sector:nth-child(5) {
    transform: rotate(126deg);
}
.sector:nth-child(6) {
    transform: rotate(162deg);
}
.sector:nth-child(7) {
    transform: rotate(198deg);
}
.sector:nth-child(8) {
    transform: rotate(234deg);
}
.sector:nth-child(9) {
    transform: rotate(270deg);
}
.sector:nth-child(10) {
    transform: rotate(306deg);
}
.sector:nth-child(2n+1) .sector-inner {
    background: #fef6e0;
}
.sector:nth-child(2n) .sector-inner {
    background: #ffffff;
}
.sector-inner {
    text-align: center;
    display: block;
    width: 40px;
    padding: 20px 5px 0 57px;
    height: 195px;
    transform: translateX(-100px) rotate(36deg);
    transform-origin: right center;
    border-radius: 100px 0 0 100px;
}
.sector-inner span {
    display: block;
    transform-origin: center;
    transform: rotate(-19deg);
    color: #d46854;
	font-size: 20px;
}
.pointer {
    position: absolute;
    left: 305px;
    top: 295px;
    z-index: 10;
    height: 130px;
    width: 130px;
    padding: 6px;
    color: #fff899;
    line-height: 120px;
    font-size: 50px;
    text-align: center;
    background-color: #ff5350;
    border-radius: 50%;
    border: 1px solid #ff5350;
    transition: transform 3s cubic-bezier(.2,.93,.43,1);
}
.pointer::after {
    content: '';
    position: absolute;
    left: 50px;
    top: -120px;
    border-width: 65px 25px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #ff5350;
    transform-origin: center;
}
.result {
    width: 600px;
    height: 90px;
    border: 2px dashed red;
    margin: 60px auto;
	line-height: 90px;
    text-align: center;
	font-size: 50px;
}
.back{
	width: 350px;
	height: 80px;
	border: 4px solid powderblue;
	margin: 100px auto;
	font-size: 50px;
	text-align: center;
	line-height: 80px;
	background-color: #fef6e0;
	border-radius: 20px;
}
@keyframes twinkling {
    50% { background: transparent; }
}